# Compiled object files
*.o

# Log files
logs/
*.log

# Directory for all build artifacts
build/

# Dependency directories
vendor/

# IDE files
.idea/
*.iml

# file test
.out

# Other
*.DS_Store

configs/production.yaml
